<% 
const footer_link1 = [
                        {
                          herf: '#',
                          name: 'link1'
                        },
                        {
                          herf: '#',
                          name: 'link1'
                        },
                        {
                          herf: '#',
                          name: 'link1'
                        },
                        {
                          herf: '#',
                          name: 'link1'
                        }
                      ],
      footer_link2 = [
                        {
                          herf: '#',
                          name: 'link2'
                        },
                         {
                          herf: '#',
                          name: 'link2'
                        },
                         {
                          herf: '#',
                          name: 'link2'
                        },
                         {
                          herf: '#',
                          name: 'link2'
                        }
                      ],
      social = [
                {
                  name: 'facebook',
                  herf: '#',
                  bg: '#3B5998',

                },
                {
                  name: 'instagram',
                  herf: '#',
                  bg: '#125688'
                },
                {
                  name: 'google',
                  herf: '#',
                  bg: '#dd4b39'
                },
                 {
                  name: 'twitter',
                  herf: '#',
                  bg: '#55ACEE'
                }
              ],
      query = [
                {
                  que: '',
                  ans: ''
                },
                 {
                  que: '',
                  ans: ''
                },
                 {
                  que: '',
                  ans: ''
                },
                 {
                  que: '',
                  ans: ''
                }
              ];
%>
<footer class="footer-10 bg-dark text-light mt-5">
  <div class="m-4 pt-5">
    <div class="accordion" id="myAccordion">
      
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading0">
          <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapse0">
                No Quetion is therw ?
              </button>	
            </h2>
            <div id="collapse0" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                <div class="card-body">
                    <p>
                      there is no answer here !
                      <a href="tel:+91 1234 567 890">Contect Us: +91 1234 567 890</a></p>
                    </div>
            </div>
        </div>
      
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading1">
          <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapse1">
                No Quetion is therw ?
              </button>	
            </h2>
            <div id="collapse1" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                <div class="card-body">
                    <p>
                      there is no answer here !
                      <a href="tel:+91 1234 567 890">Contect Us: +91 1234 567 890</a></p>
                    </div>
            </div>
        </div>
      
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading2">
          <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapse2">
                No Quetion is therw ?
              </button>	
            </h2>
            <div id="collapse2" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                <div class="card-body">
                    <p>
                      there is no answer here !
                      <a href="tel:+91 1234 567 890">Contect Us: +91 1234 567 890</a></p>
                    </div>
            </div>
        </div>
      
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading3">
          <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapse3">
                No Quetion is therw ?
              </button>	
            </h2>
            <div id="collapse3" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                <div class="card-body">
                    <p>
                      there is no answer here !
                      <a href="tel:+91 1234 567 890">Contect Us: +91 1234 567 890</a></p>
                    </div>
            </div>
        </div>
      
    </div>
</div>
<div class="container">
<div class="row mb-5 pb-3 no-gutters">
<div class="col-md-4 mb-md-0 mb-4 d-flex">
<div class="con con-1 w-100 py-5">
<div class="con-info w-100 text-center">
<div class="icon d-flex align-items-center justify-content-center">
<span class="ion-ios-call"></span>
</div>
<div class="text">
<span>(+00) 1234 5678</span>
</div>
</div>
</div>
</div>
<div class="col-md-4 mb-md-0 mb-4 d-flex">
<div class="con con-2 w-100 py-5">
<div class="con-info w-100 text-center">
<div class="icon d-flex align-items-center justify-content-center">
<span class="ion-ios-mail"></span>
</div>
<div class="text">
<span>info@email.com</span>
</div>
</div>
</div>
</div>
<div class="col-md-4 mb-md-0 mb-4 d-flex">
<div class="con con-3 w-100 py-5">
<div class="con-info w-100 text-center">
<div class="icon d-flex align-items-center justify-content-center">
<span class="ion-ios-pin"></span>
</div>
<div class="text">
<span>Shubhas Nagar</span>
</div>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-md-7">
<div class="row">
<div class="col-md-4 mb-md-0 mb-4">
<h2 class="footer-heading">About</h2>
<ul class="list-unstyled">
<li><a href="/about" class="d-block">Sameer Khan</a></li>
</ul>

</div>
<div class="col-md-4 mb-md-0 mb-4">
<h2 class="footer-heading">Brand</h2>
<ul class="list-unstyled">
<li>Samsung</li>
<li>Apple</li>
<li>Vivo</li>
<li>Oppo</li>
    <li>Mi</li>
</ul>
</div>

</div>
</div>

</div>
<div class="row mt-5 pt-4 border-top">
<div class="col-md-6 col-lg-8 mb-md-0 mb-4">
<p class="copyright mb-0">
Copyright ©<script>document.write(new Date().getFullYear());</script>2022 All rights reserved by <a href="/about" target="_blank">Sammer Temcom</a>
</p>
</div>

</div>
</div>
</footer>
<!-- Footer -->
