<% const data = Data(); %>
<style type="text/css">
  
</style>
<div class="container-fluid">
  <% data.forEach((phone, i) => { %>
    <section class="mx-auto border my-3" style="max-width: 750px;">
      <div class="d-sm-flex p-1">
        <div class="m-1 text-center  w-100" style="max-width: 400px;">
          <img class="img-fluid text-center" src="/img/phones/phone<%= i+1 %>.jpg" alt="phone Image" />
        </div>
        <div class="p-3 alert-info w-100">
          <p>
            <% phone.forEach(sp => { %> 
              <p><span class="text-info fs-5"><%= sp[0] %></span>  : <%= sp[1] %></p>  
            <%})%>
          </p>
        </div>
      </div>
    </section>
    <% }) %>
</div>

<%

function Data() {
  
let phones = `Brand : Apple
Model Name : IPhone XS
Wireless Carrier : Unlocked
Operating System : IOS 12
Cellular Technology : LTE , CDMA, EV-DO, UMTS
Memory Storage : 256GB
Color : Space Gray
Screen Size : 5.8 Inches
Wireless network technology : GSM | Brand : Apple
Model Name : IPhone 13
Wireless Carrier : Unlocked
Operating System : IOS 12
Cellular Technology : 5g
Memory Storage : 128
Color : Gold
Screen Size : 5.4 Inches
Wireless network technology : Wi-Fi | Brand : Apple
Model Name : IPhone 12
Wireless Carrier : Unlocked
Operating System : IOS 14
Cellular Technology : 5g
Memory Storage : 64GB
Color : RED
Screen Size : 5.8 Inches
Wireless network technology : GSM | Brand : Apple
Model Name : IPhone 5s
Wireless Carrier : Unlocked
Operating System : IOS 7
Cellular Technology : 4G
Memory Storage : 128GB
Color : Blue
Screen Size : 4 Inches
Wireless network technology : GSM | Brand : Apple
Model Name : IPhone 12
Wireless Carrier : Unlocked
Operating System : IOS 14
Cellular Technology : 5G
Memory Storage : 128GB
Color : Space Gray
Screen Size : 6.1 Inches
Wireless network technology : GSM | Brand :Samsung
Model Name:Samsung Galaxy M53 5G
Memory Storage : 128GB
Network Service Provider :Unlocked for All Carriers
OS   : Android  12.0
Cellular Technology  :    5G | Brand : Samsung
Model Name:Samsung Galaxy S22 5G
Memory Storage : 128GB
Network Service Provider :Unlocked for All Carriers
OS:Android 12
Cellular Technology:5G | Brand :Samsung
Model Name:Samsung Galaxy M53 5G
Memory Storage : 128GB
Network Service Provider:Unlocked for All Carriers
OS:Android 12.0
Cellular Technology:5G | Brand :Samsung
Model Name :Samsung Galaxy M33 5G
Memory Storage : 128GB
Network Service Provider :Unlocked for All Carriers
OS:Android 12.0
Cellular Technology:5G | Brand : Samsung
Memory Storage : 128GB
Model Name   : SM-E236BZGHINS
Network Service Provider   : Unlocked for All Carriers
OS   : Android 12
Cellular Technology  : 5G | Brand :Redmi
Model Name  :Redmi Note 11 Pro
Memory Storage : 128GB
Network Service Provider  :Unlocked for All Carriers
OS   :MIUI 13
Cellular Technology  :LTE | Brand : Redmi
Model Name : Redmi Note 8 Pro
Memory Storage : 128GB
Network Service Provider : T-Mobile
OS : Android
Cellular Technology : 4G | Brand :Redmi
Memory Storage : 128GB
Model Name   :Redmi Note 10 Pro
Network Service Provider   :Unlocked for All Carriers
OS       :Android
Cellular Technology   :4G | Brand :Redmi
Model Name:Redmi Note 11 Pro +
Memory Storage : 128GB
Network Service Provider:Unlocked for All Carriers
OS:MIUI 13
Cellular Technology:5G, 4G LTE | Brand :	Mi Redmi Note 12 Pro 5g Cosmic Black  
Size name: 6GB RAM 128GB Storage
Model Name :	Mi 11X
Network Service Provider :	Unlocked for All Carriers
OS : Android 11 - MiUI 12.5, MiUI 12.5 (Android 11)
Cellular Technology : 5G | Brand : Oppo
Model Name : A74 Fantastic Purple
Size name: 6GB RAM 128GB Storage
Style name: With Offer
Network Service Provider : Unlocked for All Carriers
OS : Android 11
Cellular Technology : 5G | Brand : Oppo
Size name: 6GB RAM 128GB Storage
Model Name : F21s Pro 5G
Network Service Provider : Unlocked for All Carriers
OS : Android 11
Cellular Technology : 5G | Brand :Oppo
Model Name:Oppo F17 pro
Size name: 6GB RAM 128GB Storage
Network Service Provider:Total Wireless
OS:Android 12.0
Cellular Technology:5G	 | Brand :Oppo
Model Name:Reno8 5G
Size name: 6GB RAM 128GB Storage
Network Service Provider:Total Wireless
OS:Android 12.0
Cellular Technology:5G	 | Brand :Oppo
Model Name:Oppo F17
Size name: 6GB RAM 128GB Storage
Network Service Provider:Total Wireless
OS:Android 12.0
Cellular Technology:5G	 | Brand :	OnePlus
Size name: 6GB RAM 128GB Storage
Model Name :	OnePlus Nord CE 2 Lite 5G
Network Service Provider  :	Unlocked for All Carriers
OS  :	OxygenOS
Cellular Technology  :	5G, 4G LTE | Brand :	OnePlus
Size name: 6GB RAM 128GB Storage
Model Name  :	OnePlus Nord CE 2 5G
Network Service Provider    :	Unlocked for All Carriers
OS  :	OxygenOS
Cellular Technology :	5G, 4G LTE | Brand :	OnePlus
Size name: 6GB RAM 128GB Storage
Model Name :	OnePlus Nord 2T 5G
Network Service Provider  :	Unlocked for All Carriers
OS   :	OxygenOS
Cellular Technology :	5G, 4G LTE | Brand :	OnePlus
Model Name :	OnePlus 10R
Size name: 6GB RAM 128GB Storage
Network Service Provider:	Unlocked for All Carriers
OS :	OxygenOS
Cellular Technology :	5G | Brand :	OnePlus
Model Name :	OnePlus 11R
Size name: 6GB RAM 128GB Storage
Network Service Provider:	Unlocked for All Carriers
OS :	OxygenOS
Cellular Technology :	5G`;

    let D = [];
    phones.split("|").forEach((phone,i) => {
        let p = [];
        phone.split(/[\r\n]+/).forEach(sp => {
            let s = [];
            sp.split(":").forEach(e => {
                s.push(e)
            })
            p.push(s)
        })
        D.push(p)
    })
    return D;
}
%>