<% 
  const mobile = [
        {
          name:'Sumsung J 7',
          src:'https://images.unsplash.com/photo-1583394838336-acd977736f90?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=384&q=80',
          memory:'128 GB',
          ram:'8 GB',
          battery:'4000 Mh',
          price:'40000 Rs'
        }
  ]  
%>
<div class="container-fluid">
            
    </div>