<% 
  const text = `Our shop is in Shubhas Nagar \n
                Provide, Mobile Phones, Headset, Earphone, Smart Watch with other acceceries of 
                Brand Apple, Samsung, Vivo, Oppo, Mi, Micromax 
                `
%>
<section class="testimonial-slider-large wf-section">
        <div class="container">
                <div class="w-slider-mask">
                    <div class="w-slide">
                        <div class="testimonial-slide">
                            <div class="testimonial-content"><img
                                    src="img/doulble-quotes-left.svg"
                                    loading="lazy" alt="" class="testimonial-quote-icon">
                                <div class="testimonial-quote">
                            <%= text ? text : 'default' %>
                                </div>
                                <div class="testimonial-info-two"><img
                                        src="img/extra.svg"
                                        loading="lazy" alt="" class="testimonial-image">
                                    <div>
                                        <div class="testimonial-author-name">Shop Owner</div>
                                        <div> Amir Khan</div>
                                    </div>
                                </div>
                            </div>
                          <img src="img/owner.jpg" loading="lazy" alt=""  class="testimonial-image-two">
                        </div>
                    </div>
                </div>
        </div>
    </section>