<div class="m-4">
    <!-- Button HTML (to Trigger Modal) -->
    <!-- Modal HTML -->
    <div id="myModal" class="modal fade" tabindex="-1">
        <div class="modal-dialog  modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <p>you can open map in new page and get a directin !</p>
                    <p class="text-secondary"><small>any Query contect Us <a herf="#" alt="">+91 1234 567 890</a></small></p>
                   <iframe id='map' src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6882.901907870698!2d77.93997757503723!3d30.39494497702457!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3908d4c48eeebfed%3A0x2c7b7c0bd55ef388!2sChaknugaon%2C%20Uttarakhand%20248007!5e0!3m2!1sen!2sin!4v1668398663962!5m2!1sen!2sin" style="border:1;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary">fghfjfj</button>
                </div>
            </div>
        </div>
    </div>
</div>